<html>
  <head>
    <%= this.getChild('head') %>
  </head>
  <body class="<%=this.getClass() %>">
    <div class="header-wrapper">
      <%= this.getChild('header') %>
    </div>

    <div class="content-wrapper">
      <%= this.getChild('footer') %>
    </div>
    
    <div class="footer-wrapper">
      <%= this.getChild('footer') %>
    </footer>
    <%= this.getChild('footer.js') %>
  </body>
</html>