[submodule "lib/yate"]
	path = lib/yate
	url = git@github.com:jiggliemon/yate.git
[submodule "lib/yale"]
	path = lib/yale
	url = git@github.com:jiggliemon/yate.git
[submodule "lib/blocks"]
	path = lib/blocks
	url = git@github.com:jiggliemon/blocks.git
[submodule "lib/cajon"]
	path = lib/cajon
	url = https://github.com/requirejs/cajon.git
[submodule "lib/yaul"]
	path = lib/yaul
	url = git@github.com:GCheung55/yaul.git
[submodule "lib/yeah"]
	path = lib/yeah
	url = git@github.com:jiggliemon/yeah.git
